#s1
{ 
    position: fixed;
    top: .5%;
    right: .5%;
}

#s2
{
    padding-left: 60px;
    padding-right: 54px;
    background-color: #464866;
    border-radius: 4px;
    border: 3px solid #2E9CCA;
    width: 770px;
}

body
{
    margin-top: 5em;
    word-wrap: break-word;
    background-color: #25274D;
}

#rightSideBar2
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 225px;
    background-color: #464866;
    border: 2px solid #29648A;
    border-radius: 4px;
}

#rightSideBar1
{
    float: right;
    margin-top: 10px;
    margin-right: 22px;
    width: 225px;
    background-color: #464866;
    border: 2px solid #29648A;
    border-radius: 4px;
}

footer
{
    background-color: #464866;
    border-radius: 4px;
    border: 2px solid #2E9CCA;
    margin-top: 5px;
}

html
{
    color: azure;
}

.mainBody
{
    margin-left: 1px;
    margin-top: 10px;
    width: 500px;
    border: 3px solid #29648A;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 215px;
    padding-bottom: 15px;
    background-color: #464866;
}

#links
{
    display: flex;
    list-style-type: none;
    background-color: #464866;
    border: 3px solid #2E9CCA;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 6px;
    border-radius: 3px;
}

.nav
{
    color: white;
    margin-left: 4px;
    padding-right: 20px;
}

.paragraphBody
{
    background-color: #AAABB8;
    color: black;
    width: 600px;
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 9px;
}

.pic
{
    padding-left: 20px;
}

a:link
{
    color:White;
}
a:hover
{
    color: red;
}

#about
{
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 71px;
}

.ft
{
    margin-left: 10px;
}